<div class="table-responsive">
	<table class="table table-condensed table-hover">
		<thead class="thead-dark">
			<tr>
				<th scope="col">Name</th>
				<th scope="col">Username</th>
				<th scope="col">Visit Profile</th>
			</tr>
		</thead>
		<tbody>

			<% var j = friends.length %>
			<% for(i = j -1; i >= 0; i--) { %>
			<tr>
				<td><%= friends[i].name %></td>
				<td><%= friends[i]._id %></td>
				<td> <a href="/profile/<%= friends[i]._id %>"> <i class="fas fa-link friend"></i> </a> </td>
			</tr>
			<% } %>
		</tbody>
	</table>
</div>