body {
	padding-top: 70px;
	font-weight: 300;
	font-family: 'Lato', sans-serif;
}

.name-container {
	margin-bottom: 10px;
	padding: 25px;
}

.name-block {
	/*background-image: linear-gradient(to bottom right, #36d1dc, #5b86e5);*/
	/*background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);*/
	background: linear-gradient(90deg, #9ebd13 0%, #008552 100%);
	color: white;
	min-height: 150px;
	width: 100%;
	min-height: 150px;
	padding: 10px;
}

.name-block-inner {
	margin: auto;
	text-align: center;
}

.name-block h1 { margin-bottom: 0px; }

.du-form {
	background: linear-gradient(90deg, #9ebd13 0%, #008552 100%);
	padding: 20px;
	color: white;
	/*text-align: center;*/
	max-width: 500px;
}

#du-form-4 p{
	font-weight: 700;
	font-size: 1.2rem;
}

.btn-du {
	background-color: #fff2; /* arscenic color */
	color: white;
	font-size: 0.9rem;
	letter-spacing: 0.05rem;
	padding: 0.75rem 1rem;
	border-radius: 2rem;
}

.btn-du:hover {
	color: white;
	background-color: #fff4;
}

#du-btn-cancel {
	background-color: transparent;
	color: #fffa;
	font-size: 1.3rem;
	float: right;
	margin: 3px;
	border: 0px;
	padding: 0px;
}

.thin { font-weight: 200; }

.golden-star { color: orange; }


/*Delete Carefully*/
:root {
	--input-padding-x: 1.5rem;
	--input-padding-y: 0.75rem;
}

.btn-login {
	background-color: #3dc052; /* arscenic color */
	color: white;
	font-size: 0.9rem;
	letter-spacing: 0.05rem;
	padding: 0.75rem 1rem;
	border-radius: 2rem;
}



.form-label-group {
	position: relative;
	margin-bottom: 1rem;
}

.form-label-group>input,
.form-label-group>label,
.form-label-group>textarea {
	padding: var(--input-padding-y) var(--input-padding-x);
	height: auto;
	border-radius: 2rem;
}

.form-label-group>label {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	margin-bottom: 0;
	/* Override default `<label>` margin */
	line-height: 1.5;
	color: #495057;
	cursor: text;
	/* Match the input under the label */
	border: 1px solid transparent;
	border-radius: .25rem;
	transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
	color: transparent;
}

.form-label-group input:-ms-input-placeholder {
	color: transparent;
}

.form-label-group input::-ms-input-placeholder {
	color: transparent;
}

.form-label-group input::-moz-placeholder {
	color: transparent;
}

.form-label-group input::placeholder {
	color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
	padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
	padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
	padding-top: calc(var(--input-padding-y) / 3);
	padding-bottom: calc(var(--input-padding-y) / 3);
	font-size: 12px;
	color: #777;
}

/* Fallback for Edge
-------------------------------------------------- */

@supports (-ms-ime-align: auto) {
	.form-label-group>label {
		display: none;
	}
	.form-label-group input::-ms-input-placeholder {
		color: #777;
	}
}

/* Fallback for IE
-------------------------------------------------- */

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
	.form-label-group>label {
		display: none;
	}
	.form-label-group input:-ms-input-placeholder {
		color: #777;
	}
}